<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdsxt.dao.ProductDao">

    <select id="selectAll" resultType="product">
        select pid, pname, market_price as marketPrice, shop_price as shopPrice,
        image, pdesc, is_hot as isHot, pdate, csid
        from product
    </select>

    <!--查询所有最热商品-->
    <select id="selectAllHotProducts" resultType="product">
        select pid, pname, market_price as marketPrice, shop_price as shopPrice,
        image, pdesc, is_hot as isHot, pdate, csid
        from product
        where is_hot = 1
    </select>

    <!--查询所有最新商品: 三个月以内-->
    <select id="selectAllNewProducts" resultType="product">
        SELECT
        pid,
        pname,
        market_price AS marketPrice,
        shop_price AS shopPrice,
        image,
        pdesc,
        is_hot AS isHot,
        pdate,
        p.csid
        FROM product as p
        WHERE to_days(pdate) > (to_days(sysdate()) - 3 * 30);
    </select>


    <!--根据 id 进行查询-->
    <select id="selectById" resultType="product">
        select pid, pname, market_price as marketPrice, shop_price as shopPrice,
        image, pdesc, is_hot as isHot, pdate, csid
        from product
        where pid = #{0}
    </select>

    <!--带参数查询-->
    <select id="selectProductWithParam" resultType="product">
        SELECT
        pid,
        pname,
        market_price AS marketPrice,
        shop_price AS shopPrice,
        image,
        pdesc,
        is_hot AS isHot,
        pdate,
        p.csid
        FROM product AS p LEFT JOIN category_second cs ON p.csid = cs.csid
        WHERE
        1 = 1
        <if test="productName neq null and productName neq ''">
            AND pname LIKE '%${productName}%'
        </if>
        <if test="minPrice neq null">
            <![CDATA[
            AND shop_price >= #{minPrice}
            ]]>
        </if>
        <if test="maxPrice neq null">
            <![CDATA[
            AND shop_price <= #{maxPrice}
            ]]>
        </if>
        <if test="categoryName neq null and categoryName neq ''">
            AND cs.csname LIKE '%${categoryName}%'
        </if>
    </select>

    <!--根据商品种类: 二级分类查询-->
    <select id="selectProductWithCategorySecond" resultType="product">
        select pid, pname, market_price as marketPrice, shop_price as shopPrice,
        image, pdesc, is_hot as isHot, pdate, csid
        from product
        where csid = #{0}
    </select>

    <!--根据商品种类: 一级分类查询-->
    <select id="selectProductWithCategory" resultType="product">
        SELECT
        pid,
        pname,
        market_price AS marketPrice,
        shop_price AS shopPrice,
        image,
        pdesc,
        is_hot AS isHot,
        pdate,
        p.csid
        FROM product AS p
        LEFT JOIN category_second cs ON p.csid = cs.csid
        LEFT JOIN category c ON cs.cid = c.cid
        WHERE c.cid = #{0};
    </select>

</mapper>