<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdsxt.dao.UserFrontDao">

    <select id="selectOneByName" resultType="com.cdsxt.ro.UserFront">
        select uid, username, password, name, state, security_email as securityEmail, security_phone as securityPhone
        from user_front
        where username = #{username}
    </select>

    <select id="selectUserAddressById" resultType="com.cdsxt.ro.UserAddress">
        select id, name, phone, addr, user_id as uid from receive_user_info where user_id = #{uid}
    </select>

    <!--// 根据地址 id 查询收货信息-->
    <select id="selectAddressById" resultType="com.cdsxt.ro.UserAddress">
        select id, name, phone, addr, user_id as uid from receive_user_info where id = #{uid}
    </select>
</mapper>